<!-- user/password_reset_done.html -->

{% extends 'partials/base.html' %}


{% block title %}Réinitialisation de mot de passe envoyée - EHTP-BioCare{% endblock %}

{% block content %}
  <h2>Réinitialisation de mot de passe envoyée</h2>
  <hr>
  <p>Un email contenant un lien de réinitialisation de mot de passe vous a été envoyé. Veuillez vérifier votre boîte mail et cliquer sur le lien inclus dans le message. Ce lien vous redirigera vers une page où vous pourrez saisir et confirmer votre nouveau mot de passe.</p>
{% endblock %}
