<!-- user/password_reset.html -->

{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}  <!-- Chargez les tags Crispy Forms -->

{% block title %}Réinitialisation de mot de passe - EHTP-BioCare{% endblock %}

{% block content %}
  <h1>Réinitialisation de mot de passe</h1>
  <hr>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}  <!-- Utilisez |crispy pour appliquer Crispy Forms -->
    <button type="submit">Réinitialiser le mot de passe</button>
  </form>
{% endblock %}
